body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(2.jpg) no-repeat;
    /*background-size: cover;*/

}


.container {
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #363B4E;
    height: 100%;

    background: rgba(1, 1, 1, 0.44);

    width: 700px;
    height: 500px;

    backdrop-filter: blur(5px);
    border-radius: 50px;
}

.start {
    height: 500px;
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #0A81AB;
    border-radius: 50px;


}

.fstButton {
    position: absolute;
    text-align: center;
    display: none;
}

.btn {
    height: 60px;
    width: 200px;
    font-size: 25px;
    color: white;
    background-color: #8267BE;
    border: 3px solid #0A81AB;
    border-radius: 15px;
    margin: 10px;
}

.createAccount {
    position: absolute;
    text-align: center;
}

.one {
    display: none;
}

.security {
    position: absolute;
    text-align: center;
    display: none;
}

.input {
    height: 60px;
    width: 200px;
    font-size: 25px;
    color: #0A81AB;
    background-color: black;
    border: 3px solid #0A81AB;
    border-radius: 15px;
    margin: 10px;
}

.gtreasure {
    position: absolute;
    text-align: center;
    display: none;
}

.gpmember {
    position: absolute;
    text-align: center;
    display: none;
}

.TotalTreasure {
    position: absolute;
    text-align: center;
    display: none;
}

.myTreasure {
    position: absolute;
    text-align: center;
    display: none;
}

.iTreasure {
    position: absolute;
    text-align: center;
    display: none;
}

.iTreasureDisplay {
    position: absolute;
    text-align: center;
    display: none;
}

.useMoney {
    position: absolute;
    text-align: center;
    display: none;
}

.userTreasure {
    position: absolute;
    text-align: center;
    display: none;
}

.addMoney {
    position: absolute;
    text-align: center;
    display: none;
}

.gmregister {
    position: absolute;
    text-align: center;
    display: none;
}

.login {
    position: absolute;
    text-align: center;
    display: none;
}

.user {
    position: absolute;
    text-align: center;
    display: none;
}

h1 {
    color: rgb(0, 161, 198);
    background-color: #363B4E;
    font-size: 40px;
}